<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details page</title>
</head>
<body>
    <h1> {{ question.question_text }}</h1>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'polls:vote' question_id %}" method="post">
        {% csrf_token %}

    </form>
    <ul>
        {% for choice in question.choice_set.all %}
            <li> {{ choice.choice_text }}</li>
        {% endfor %}
    </ul>
</body>
</html>